@{
    ViewBag.Title = "O firmie";
}
<h2>@ViewBag.Title.</h2>

<p>Auto Export is a web portal to the world of North American wholesale auto auctions. This innovative technology allows international buyers to search, buy and export any vehicle of their choice. Our logistics department uses the combination of in-land and oceanic transportation to deliver the purchased vehicles from the auction directly to you. AUCTION EXPORT is a corporation established by entrepreneurs with over ten years of experience in the automotive industry. We are looking forward to satisfying all of your auto-export needs.</p>
<address>
    Chesswood Dr, Unit: X<br />
    Toronto, ON M3J2V6<br />
</address>
<address>
    Telefon: 875578<br />
    Fax: +1 416.900.3304<br />
    E-MAIL: export@export.com<br />
</address>