@{
    ViewBag.Title = "Export cars";
}
<img src="https://www.sgvtribune.com/wp-content/uploads/2020/04/SGT-L-CARS-0330-02-SR-1.jpg?w=863" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"/>
<div class="jumbotron">
    
    <h2>Export AUTO</h2>
    <p>is a web portal to the world of North American wholesale auto auctions. This innovative technology allows international buyers to search, buy and export any vehicle of their choice.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <input type="button" value="WSZYSTKIE POJAZDY" class="btn btn-default" onclick="location.href='@Url.Action("../Cast/Index")'" />
    </div>
    <div class="col-md-4">
        <input type="button" value="O FIRMIE" class="btn btn-default" onclick="location.href='@Url.Action("About")'" />
    </div>
    <div class="col-md-4">
        <input type="button" value="KONTAKT" class="btn btn-default" onclick="location.href='@Url.Action("About")'" />
    </div>

</div>